
Designs/MAX86141HEG/CAMOutputs/GerberFiles/Stiffener_BOT.gbr
Designs/MAX86141HEG/CAMOutputs/GerberFiles/solderpaste_top.gbr
Designs/MAX86141HEG/CAMOutputs/GerberFiles/solderpaste_bottom.gbr
Designs/MAX86141HEG/CAMOutputs/GerberFiles/soldermask_top.gbr
Designs/MAX86141HEG/CAMOutputs/GerberFiles/soldermask_bottom.gbr
Designs/MAX86141HEG/CAMOutputs/GerberFiles/silkscreen_top.gbr
Designs/MAX86141HEG/CAMOutputs/GerberFiles/silkscreen_bottom.gbr
Designs/MAX86141HEG/CAMOutputs/GerberFiles/profile.gbr
Designs/MAX86141HEG/CAMOutputs/GerberFiles/gerber_job.gbrjob
Designs/MAX86141HEG/CAMOutputs/GerberFiles/copper_top.gbr
Designs/MAX86141HEG/CAMOutputs/GerberFiles/copper_bottom.gbr
Designs/MAX86141HEG/CAMOutputs/DrillFiles/drill_1_16.xln
Designs/MAX86141HEG/CAMOutputs/Assembly/PnP_MAX86141_HEG_MINI_front.txt
Designs/MAX86141HEG/CAMOutputs/Assembly/PnP_MAX86141_HEG_MINI_back.txt
Designs/MAX86141HEG/CAMOutputs/Assembly/MAX86141_HEG_MINI.txt
Designs/MAX86141HEG/headmount/HEGheadmount.zip
